.relatedVideos {
    position:fixed;
    background-color: #ffffff;
    padding: 100px;
    border-radius: 5px;
    margin-left: 30px;
    
  }
  [data-theme='dark'] .relatedVideos1{
    background-color: #151515;
  }
  
  
