/* Styling for each related video item */
.relatedVideoItem {
  display: flex; /* Flex container */
  align-items: flex-start; /* Align items at the start */
  justify-content: space-between; /* Distribute content evenly */
  border-radius: 5px; /* Rounded corners */
  width: 400px; /* Fixed width */
  height: 100px; /* Fixed height */
  background-color: white; /* White background */
  text-align: right; /* Right-aligned text */
  padding: 10px; /* Padding around the content */
  margin: 10px; /* Margin around each item */
}

/* Styling for the video thumbnail */
.relatedVideoItem img {
  position: relative; /* Positioned relative to its container */
  display: block; /* Display as block */
  width: 160px; /* Fixed width */
  height: 90px; /* Fixed height */
  margin-right: 10px; /* Margin to the right */
  border-radius: 5px; /* Rounded corners */
  object-fit: cover; /* Ensure the image covers the entire container */
}

/* Styling for the card body (text content) */
.relatedVideoItem .card-body {
  text-align: left; /* Left-aligned text */
  line-height: 2; /* Line height */
}

/* Styling for the card title */
.relatedVideoItem .card-title {
  position: relative; /* Positioned relative to its container */
  width: 200px; /* Fixed width */
  height: 30px; /* Fixed height */
  font-size: 13px; /* Font size */
  overflow: hidden; /* Hide overflow */
  -webkit-line-clamp: 2; /* Number of lines to display */
  -webkit-box-orient: vertical; /* Vertical orientation */
}

/* Styling for the card text */
.relatedVideoItem .card-text {
  position: relative; /* Positioned relative to its container */
  font-size: 12px; /* Font size */
  color: #555; /* Text color */
}

/* Styling for the video duration text */
.relatedVideoItem .video-duration {
  position: absolute; /* Positioned absolutely within the container */
  bottom: 27px; /* Distance from the bottom */
  right: 25px; /* Distance from the right */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white; /* Text color */
  padding: 2px; /* Padding around the text */
  border-radius: 3px; /* Rounded corners */
  font-size: 10px; /* Font size */
  font-weight: bold; /* Font weight */
}

/* Styling for the thumbnail container */
.relatedVideoItem .thumbnail-container {
  position: relative; /* Establishes a positioning context */
}

/* Styling for links within the related video item */
.relatedVideoItem .no-link-style {
  color: inherit; /* Inherit color */
  text-decoration: none; /* Remove underline */
}

/* Dark theme styles */
[data-theme='dark'] .relatedVideoItem {
  background-color: #151515; /* Dark background color */
}

[data-theme='dark'] .card-text {
  color: rgb(187, 187, 187); /* Lighter text color for dark theme */
}
