/* SearchResultItem.css */

.search-result-item {
    display: flex;
    align-items: flex-start; /* Align items at the start of the cross axis */
    padding: 10px; /* Add padding to the search result item */
  }
  
  .search-result-item .thumbnail-container-search {
    flex: 0 0 auto;
    margin-right: 10px;
  }
  
  .search-result-item .thumbnail-container-search img {
    width: 400px; 
    height: 250px;
    border-radius: 8px; 
  }
  
  .search-result-item .video-details {
    flex-grow: 1;
  }
  
  .search-result-item .title {
    font-size: 18px; 
    margin-bottom: 5px;
    color: #030303; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    text-align: left;
  }
  
  [data-theme='dark'] .search-result-item .title {
    color: white; 
  }
  
  .search-result-item .author {
    font-size: 16px; 
    color: #606060; 
    width: 100px;
    text-align: left;
  }
  
  .search-result-item .metadata {
    font-size: 14px; 
    color: #606060; 
    text-align: left;
  }
  
  