/* VideoList.css */
.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .video-link {
    text-decoration: none; /* Remove underline from anchor tags */
    color: inherit; /* Inherit text color */
  }
  