.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400, 1fr));
  grid-gap: 20px;
}

.video-list {
  position: absolute;

  padding: 10px; /* Add padding for inner content */
  margin-left: 35px;
 
}


.video-link {
  text-decoration: none;
  color: inherit;
}
