/* Styles for the home page */
.homePage {
  display: flex;
}

/* Main content area */
.container {
  flex: 1;
  padding: 20px;
  margin-top: 70px;
}

/* Profile picture */
.profilePicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* User details */
.user-details {
  margin-left: 30px;
  text-align: left;
  margin-top: 10px;
}

.user-details .h3 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-data {
  text-align: center;
  margin-left: 30px;
}

.details {
  margin-top: 14px;
  font-size: 20px;
  color: gray;
}

/* Styling for search result */
.searchResultItem {
  margin-top: 20px;
}

.details {
  margin-top: 14px;
  font-size: 20px;
  color: gray;
}

/* Styling for search result */
.searchResultItem {
  margin-top: 20px;
}

.edit-profile-button {
  background-color: transparent;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
  transition: width 0.3s;
  overflow: hidden;
  margin-top: 5px;
  width: 150px; /* Same as icon width */
  height: 40px; /* Same as icon height */
}

.edit-icon {
  margin-left: 63px;
  width: 24px;
  height: 40px;
  transition: opacity 0.3s, transform 0.3s;
}

.edit-profile-text {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s, transform 0.3s;
  font-size: 14px;
}

.edit-profile-button:hover .edit-icon {
  opacity: 0;
  transform: scale(0);
}

.edit-profile-button:hover .edit-profile-text {
  opacity: 1;
  transform: scale(1);
}

[data-theme='dark'] .edit-icon {
  filter: invert(100%); /* Invert image colors for better visibility in dark theme */
}

