/* Styles for the home page */
.homePage {
  display: flex; /* Use flexbox for layout */
  flex-direction: row; /* Arrange children in a row (horizontal) */
}

/* Styles for containers within the home page */
.container {
  flex: 1; /* Flexible container to expand and fill available space */
  padding: 20px; /* Padding around the container */
  margin-top: 70px;
}

.container .username{
    margin-top: 100px;
}


/* Styling for profile picture */
.container .user-detailes .profile-picture {
  align-items: center;
  margin-top: 30px;
  width: 5px;
  height: 5px;
}

/* Styling for author name */
.container .user-detailes .user-data h3 {
  font-size: 30px;
  font-weight: bold;
}

.container .user-detailes .user-data .user-detailes {
  font-size: 30px;
}

.edit-profile-button {
  background-color: transparent;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
  transition: width 0.3s;
  overflow: hidden;
  width: 150px; /* Same as icon width */
  height: 40px; /* Same as icon height */
}

.edit-icon {
  margin-left: 63px;
  width: 24px;
  height: 40px;
  transition: opacity 0.3s, transform 0.3s;
}

.edit-profile-text {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s, transform 0.3s;
  font-size: 14px;
}

.edit-profile-button:hover .edit-icon {
  opacity: 0;
  transform: scale(0);
}

.edit-profile-button:hover .edit-profile-text {
  opacity: 1;
  transform: scale(1);
}
