/* deleteUserModal.css */

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] .modal-content {
  background-color: #1f1f1f;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

[data-theme='dark'] .modal-header .close {
  color: #fff;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-body {
  padding: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  margin-bottom: 15px;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group-append {
  flex: 0 0 auto;
  margin-top: auto;
  margin-bottom: auto;
}

.btn-new-password-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.invalid-tooltip {
  color: #dc3545;
  font-size: 0.875rem;
}

.modal-footer {
  border-top: none;
  padding-top: 0;
}
