.input-group .btn-password-toggle {
  border: 1px solid #f0f0f0; /* Adding left border */
  height: 70%;
  background: #fff;
  border-radius: 0 0.25rem 0.25rem 0;
}

/* Adjusting hover effect */
.input-group .btn-password-toggle:hover {
  background-color: #f0f0f0; /* Lighter background on hover */
}
