/* Sidebar.css */
.sidebar {
    position: fixed;
    width: 200px; 
    height: 100%;
    z-index: 1000;
    background: white;
    top: 64px; /* Adjusted top position to be below the navbar */
}
[data-theme='dark'] .sidebar{
    background: rgb(17, 17, 17);
}


.sidebar.closed {

    width: 80px; 
}

.shortcut-links {
    padding: 20px;
}

.side-links {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.side-links:hover {
    transform: scale(1.05);
}

.side-links p {
    font-size: 12px; /* Default font size */
}

.sidebar.open .side-links p {
    font-size: 14px; /* Increase font size when sidebar is open */
}

.sidebar.open .side-links img {
    margin-right: 10px;
}

[data-theme='dark'] .sidebar img{
    filter: invert(100%);
}

